# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Sublime Text
*.sublime-workspace
*.sublime-project

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# Composer
composer.phar
composer.lock
composer-setup.php
/vendor/
/bin/

# Node
/node_modules/

# Gitlist
/gitlist/
