<h1>Home</h1>
<a ui-sref="login">Login</a>
<ul>
    {% for row in data %}
        <li>#{{row.id}} - {{row.name}}</li>
    {% endfor %}
</ul>
<form action="login">
    Get submit
    <input type="text" name="text" />
    <button type="submit">Submit</button>
</form>

<form method="post" action="login">
    Post submit
    <button type="submit">Submit</button>
</form>

<form method="post" action="login">
    Put submit
    <input type="hidden" name="_METHOD" value="PUT" />
    <button type="submit">Submit</button>
</form>
